/* MEDIA-QUERIES */
/* ------------- */

/* TELEPHONES */
/* ---------- */

@media (max-width: 492px) {

/* HEADER */
/* ------ */

    .menu-header {
        height: 32px;
        padding: 16px 25px 16px 25px;
		
        .logo-header {
            width: 100%;

            img {
                width: 150px;
            } 
        }
    }

	#menu-links {
        display: none;
        visibility: hidden;
    }
	
    .menu-burger-icons {
        display: inline !important;
        visibility: visible !important;
        position: absolute;
        top: 7px;
        right: 25px;
        font-size: 32px;
		cursor: pointer;
		
		.menu-burger-icon-close {
            display: none
        }
    }
	
	#menu-links.open {
        top: 64px;
        left: 0;
        visibility: visible;
        justify-content: center;
        background: #E00000;
        position: fixed;
		width: 100%;
		height: 100%;
		padding-top: 170px;
		z-index: 100;
		
		ul.menu {
			padding: 0px;
							
            li {
                font-size: 44px;
                display: block;
				text-align: center;
                padding: 8px 0px;
				
				a {
					color: #FFFFFF;
				}
            }
		}
    }


/* BANNER */
/* ------ */

	.banner {
        height : 253px;
        min-height: 253px;
		
        .text {
             font-size: 30px;
			 -webkit-text-stroke-width: 1px;
        }
    }


/* FILTERS */
/* ------- */

	.filters {
        width:80%;
		flex-direction: column;
		margin: 30px auto 0 auto;
        
        div, div:last-child, select {
            width:100%
        }
		
        select {
            margin: 5px 0px;
        }
    }


/* PHOTOSLIST */
/* ---------- */

	.photos {
        width: 90%;
        gap: 16px;
        .photo {
            width: 100%;
            height: 278px;
        }
    }
	

/* DISPLAYPHOTOS */
/* ------------- */

	.photos {

		.photo {

			&:hover {
			
				.refandcateg {
					width: 90%;
				
					div {
						font-size: 14px;
					}
				}
			}
		}
	}	


/* LIGHTBOX */
/* -------- */

	.lightbox {
		
		.lightbox-content {
			width: 80%;
			height: auto;
			padding-top: 100px;
			
			.photo {
				width:100%;
				height: 40%;
				margin-bottom: 16px;
				
				img {
					height:100%;
				}
			}	
		}
		
		.photo-previous {
			top: 90%;
			left: 32px;
		}
		
		.photo-next {
			top: 90%;
			right: 32px;
		}
		
		.lightbox-close {
			width: 16px;
			height: 16px;
			top: 80px;
			right: 16px;
		}
	}

    
	
	
/* FOOTER */
/* ------ */

	.site-footer {
		
        ul {
            padding: 0px;

            li {
                display: block !important;
                padding: 10px;
            }
        }
    }



/* MODAL */
/* ----- */

	.modal {       
			
		.modal-content {
			width: 55%;
			margin: 65px auto 0px auto;
		}
		
		.modal-body {
			padding: 16px 40px;
			
			.wpforms-field {
				padding: 5px 0px;
			}
			
			textarea, input.wpforms-field-medium {
				width: 88%;
			}
			
			textarea {   
				height: 130px;
			}
		}  

		.modal-title {
			font-family: SpaceMono-Italic;
			line-height: 30px;
			font-size: 32px;
			overflow: hidden;
			
			.titleOne {
				margin-left: -86px;
			}
			.titleTwo {
				margin-left: -66px;
			}
		}
	}
}